@page
@model WebApplication.Pages.Books.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].PublishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].NumerOfPages)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modeItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modeItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modeItem => item.PublishDate)
                </td>
                <td>
                    @Html.DisplayFor(modeItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modeItem => item.NumerOfPages)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

