@page
@model WebApplication.Pages.Books.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>

@*<div>
    @foreach (var item in Model.Books)
    {
        <div class="col-md-6" style="width: 360px;  background-color: #F4F4F4; border: 2px outset gray;
            border-radius: 4px; margin: 10px; box-shadow: 0 5px 5px gray; padding: 0px;">

            <div>
                <img src="~/images/Dust_Lands.jpg" alt="Dust Lands" height="248" width="140" style="/*border: 2px outset gray;*/
                float: left; margin: 0 10px 0 0;">
            </div>
            <div style="font-size: 95%; margin-left: 7.5em;">
                <div style="">
                    <dl style="margin-top: 15px;">
                        <dt>
                            @Html.DisplayNameFor(model => model.Books[0].Title)
                        </dt>

                        @if (item.Title.Length > 28)
                        {
                            <dd>
                                @item.Title.Substring(0, 28) ...
                            </dd>
                        }
                        else
                        {
                            <dd>
                                @item.Title
                            </dd>
                        }
                        <dt>
                            @Html.DisplayNameFor(model => model.Books[0].Author)
                        </dt>
                        <dd>
                            @Html.DisplayFor(modelItem => item.Author)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Books[0].PublishDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(modelItem => item.PublishDate)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Books[0].Genre)
                        </dt>
                        <dd>
                            @Html.DisplayFor(modelItem => item.Genre)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Books[0].NumerOfPages)
                        </dt>
                        <dd>
                            @Html.DisplayFor(modelItem => item.NumerOfPages)
                        </dd>
                    </dl>
                    <div style="float: right; margin-right: 10px">
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </div>
                </div>
            </div>*@





@*<div class="col-md-8">
        <div class="card-body" style="margin-top: 2em;">
            <h5 class="" style="">
                @Html.DisplayNameFor(model => model.Books[0].Title) : @Html.DisplayFor(modelItem => item.Title)

            </h5>
            <h5 class="" style="">
                @Html.DisplayNameFor(model => model.Books[0].Author) : @Html.DisplayFor(modelItem => item.Author)
            </h5>
            <h5 class="" style="">
                @Html.DisplayNameFor(model => model.Books[0].PublishDate) : @Html.DisplayFor(modelItem => item.PublishDate)
            </h5>
            <h5 class="" style="">
                @Html.DisplayNameFor(model => model.Books[0].Genre) : @Html.DisplayFor(modelItem => item.Genre)
            </h5>
            <h5 class="" style="">
                @Html.DisplayNameFor(model => model.Books[0].NumerOfPages) : @Html.DisplayFor(modelItem => item.NumerOfPages)
            </h5>
            <div style="text-align: center; margin-top: 4em;">
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </div>
        </div>
    </div>*@

@*</div>

    }*@

@*</div>*@

<div class="card border-success mb-3" style="max-width: 18rem;">
    <div class="card-header bg-transparent border-success">Header</div>
    <div class="card-body text-success">
        <h5 class="card-title">Success card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card-footer bg-transparent border-success">Footer</div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].PublishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].NumerOfPages)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumerOfPages)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

